$mainColor: #003840;

body {
    font-family: 'Raleway', sans-serif;
    line-height: 40px;
}

a {
    color: #333;
    transition: all 1s ease;
}

a:hover {
    color: #F8B500;
    text-align: none;
    text-decoration: none;
}

.title_page{
    background-color:#F8B500;
    text-align: center;
    padding:0.2%;
    color:white;

    & h4{
        font-size: 2em;
        font-family: 'Kaushan Script', cursive;
    }
}

//NAVIGATION

.navbar {
    box-shadow: 1px 7px 10px -3px rgba(0, 0, 0, 0.75);
    background-color: $mainColor !important;

    & .navbar-brand {
        font-family: 'Cinzel', serif;
    }

    & a:hover {
        color: #F0E68C !important;
    }
}

//HEADER
header {
    background: url('../img/header.jpg') no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;

    transition: all 0.2s ease;

    & .header_title {
        text-align: center;
        color: white;

        h1 {
            font-size: 5em;
            font-family: 'Kaushan Script', cursive;
            color: #F0E68C;
            text-shadow: 2px 2px #333;
        }

        h2 {
            font-size: 3em;
            font-family: 'Cinzel', serif;
            color: white;
            text-shadow: 2px 2px #333;
        }

        h3 {
            font-size: 1em;
            text-shadow: 2px 2px #333;
        }
    }
}

header:hover {
    opacity: 0.9;
}

.description {
    background-color: $mainColor;
    padding: 1%;
    color: white;
    text-align: center;
    padding: 2%;
}

.main {
    & .main-content {
        background-color: #fff;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 10px;
        padding: 5%;
    }

}

footer {
    background-color: $mainColor;
    height: auto;
    padding: 2%;
    color: white;
}

q {
    font-style: italic;
}

//*************************************************
//PAGE ACCUEIL
// *************************************************

.jumbotron {
    background-color: #003840;
}

.panel {
    & .panel-heading {
        background: url('../assets/img/pattern.jpg');
        padding: 1%;
        color: #fff;
    }

    & .panel-body {
        padding: 2%;
        text-align: center;

        & img {
            width: 100%;
            border-radius: 5px;
        }
    }
}

.panel_body_description {
    margin-top: 3%;
}

//*************************************************
//PAGE RESTAURANT
// *************************************************

iframe {
    display: none;
}

.restaurant {
    margin: 3%;
    padding: 1%;
}

.main p {
    text-align: justify;
}

@media screen and (min-width: 765px) {
    iframe {
        width: 100%;
        height: 100%;
        display: block;
    }

    .main p {
        line-height: 20px;
    }
}

//*************************************************
//PAGE CONTACT
// *************************************************
.main-content {
    form {
        font-family: 'Raleway', sans-serif;

        label {
            text-decoration: underline;
        }
    }
}

.envoi {
    background-image: url(../img/send.png);
    background-size: 40px;
    background-repeat: no-repeat;
    padding-left: 50px;
}

//*************************************************
//PAGE PHOTOS
// *************************************************

.gallery{
    & img{
        width:100%;
        height: 100%;
        padding:1%;
        border-radius: 5%;
    }
}
.buttons{
    margin-top:5%;
}

.page-link{
    border-radius: 50% !important;
    margin:0 5px;

}
